{% extends "core/base.html" %}
{% load static %}

{% block title %}TRAVESÍA | Transporte y Logística Corporativa en Chile y Sudamérica{% endblock %}
{% block meta_description %}TRAVESÍA ofrece transporte y logística corporativa para empresas en Chile y Sudamérica: transporte nacional e internacional, logística minera, cargas especiales, comercio exterior y operaciones complejas.{% endblock %}
{% block og_title %}TRAVESÍA | Transporte y Logística Corporativa en Chile y Sudamérica{% endblock %}
{% block og_description %}Transporte nacional e internacional, logística minera, cargas especiales y comercio exterior para empresas que necesitan operaciones serias y continuidad logística.{% endblock %}
{% block og_image %}{{ request.scheme }}://{{ request.get_host }}{% static 'core/img/hero/hero-operacion-logistica-travesia.jpeg' %}{% endblock %}
{% block twitter_title %}TRAVESÍA | Transporte y Logística Corporativa{% endblock %}
{% block twitter_description %}Soluciones B2B de transporte y logística en Chile y Sudamérica: cargas especiales, logística minera y comercio exterior.{% endblock %}
{% block twitter_image %}{{ request.scheme }}://{{ request.get_host }}{% static 'core/img/hero/hero-operacion-logistica-travesia.jpeg' %}{% endblock %}

{% block content %}
{% include "core/includes/_hero.html" %}
{% include "core/includes/_services.html" %}
{% include "core/includes/_operations.html" %}
{% include "core/includes/_coverage.html" %}
{% include "core/includes/_why_choose_us.html" %}
{% include "core/includes/_cta.html" %}
{% include "core/includes/_contact.html" %}
{% endblock %}
